<!-- alerts.html -->
<div class="container">

        <!-- HEADER AND TODO COUNT -->
        <div class="jumbotron text-center">
            <span>Alerts <span class="label label-info" style="background-color:red;">{{ todos.length }}</span></span>
        </div>

		<div class="form-group has-feedback" ng-show="todos.length">
			<input type="text" class="form-control input-md text-center" ng-model="title">
			<i class="glyphicon glyphicon-search form-control-feedback"></i>
		</div>
		
        <!-- TODO LIST -->
        <div class="table-responsive">
        <table id="todo-list" class="table">
        	<thead ng-show="todos.length">
				<tr>
					<th></th>
					<!-- <th>#</th> -->
					<th>Title</th>
					<!-- <th>Created On</th> -->
					<th>End Date</th>
				</tr>
			</thead>
                <!-- LOOP OVER THE TODOS IN $scope.todos -->
            <tbody>
                <tr ng-repeat="todo in todos" ng-class="{ 'done-{{todo.done}}': isdone }" >
                	<td style="text-align:center;"><input type="checkbox" name="done" id="{{ todo.id }}" ng-model="isdone" ng-init="isdone=todo.done === 1 ? true : false" ng-click="updateTodo($event, todo.id)" /></span></td>
                	<!-- <td>{{ todo.id }}</td> -->
                	<td>{{ todo.text }}</td>
                	<!-- <td>{{ todo.formattedCreatedOn}}</td> -->
                	<td>{{ todo.endDate | date : "MMM dd, yyyy" }}</td>
                	<td>
                		<button class="delete-button" ng-click="deleteTodo(todo.id)">
    						<span class="glyphicon glyphicon-remove"></span>
  						</button>
                	</td>

                </tr>
            </tbody>
        </table>
		<div>
		
		<div ng-show="!todos.length" style="text-align:center;font-size:40px;">No Todos</div>
</div>
